<div class="col-sm-12 accordian">
	<div class="row">
		<div class="col-sm-3">
			<% @sections.each do |f|%>
				<a class="section-title" data-title="<%= f.title %>"><%= f.title %></a>
			<% end %>
		</div>		
		<div class="col-sm-9">
			<% @sections.each do |f|%>
				<span class="section-content" data-title="<%= f.title %>"><%= f.content.html_safe  %></span>
			<% end %>
		</div>
	</div>
</div>