<div class="col-sm-12">
	<div class="row header title">
		<div class="col-sm-12">
			<h1>Jimmy The Code</h1>
		</div>
	</div>
	<div class="row header">
		<div class="col-xs-3">
			<a href="http://lnkd.in/bukKWjv" alt="linkedin"><i class="fa fa-linkedin-square fa-4x"></i></a>
		</div>
		<div class="col-xs-3">
			<a href="https://plus.google.com/+JamesGrant-nuclearflames/posts" alt="google plus"><i class="fa fa-google-plus-square fa-4x"></i></a>
		</div>
		<div class="col-xs-3">
			<a href="mailto:xx@asdf.com" alt="mail me"><i class="fa fa-envelope-square fa-4x"></i></a>
		</div>
		<div class="col-xs-3">
			<a href="https://github.com/nuclearflames" alt="github"><i class="fa fa-git-square fa-4x"></i></a>
		</div>
	</div>
	<div class="row body">
		<div class="col-sm-3" id="left-holder">
			<div class="row title">
				<div class="col-sm-12">
					<p>Skills</p>
				</div>		
			</div>
			<div class="row title">
				<div class="col-sm-12">
					<p>2014</p>
				</div>		
			</div>
			<div class="row title">
				<div class="col-sm-12">
					<p>2013</p>
				</div>		
			</div>
			<div class="row title">
				<div class="col-sm-12">
					<p>2012</p>
				</div>		
			</div>
			<div class="row title">
				<div class="col-sm-12">
					<p>2011</p>
				</div>		
			</div>
			<div class="row title">
				<div class="col-sm-12">
					<p>2010</p>
				</div>		
			</div>
		</div>
		<div class="col-sm-9" id="right-holder">
			<div class="row">
				<div class="col-sm-12 selected">
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
				</div>		
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p>tewst</p>
				</div>		
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p>tewst</p>
				</div>		
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p>tewst</p>
				</div>		
			</div>
		</div>
	</div>
</div>