html, body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 12pt;
	text-align: center;
	margin: 0;
	color: $font;
}
h1 {
	font-size: 70pt;
}
.container {
	width: 100%;
}

.body-background {
	background-color: $body;
	transition: all 1s ease;
}

a {
	color: $font;
	transition: all 1s ease;
	text-decoration: none;
	&:hover {
		color: $link-hover;
	}
}

table {
	width: 100%;
	p {
		margin: 5px 0;
	}
}

.accordian {
	.left {
		float: left;
	}
	.right {
		float: right;
	}
}

.section-title {
	@extend .body-background;
	font-size: 16pt;
	font-weight: bold;
	display: block;
	padding: 10px 0;
	position: relative;
	cursor: pointer;
	&:hover {
		background-color: $hover;
	}
	&.selected {
		background-color: $hover;
		&:after {
			left: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			position: absolute;
			border-left-color: $hover;
			border-width: 15px;
			margin-top: -15px;
		}
	}
}

.section-content {
	background-color: $hover;
	word-break: break-word;
	display: none;
	padding: 20px 10px;
	&.selected {
		display: block;
	}
}

.header {
	background-color: $header;
	padding: 20px 0;
	&.title {
		&:after {
			height: 1px;
			background-color: $hover;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.body {
	background-color: $body;
}