html, body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 12pt;
	text-align: center;
	margin: 0;
}
h1 {
	font-size: 70pt;
}
.container {
	width: 100%;
}
#left-holder {
	font-size: 16pt;
	font-weight: bold;
	.title {
		&:hover {
			background-color: $hover;
		}
	}
}
a {
	color: $link;
	&:hover {
		color: $link-hover;
	}
}

#right-holder {
	.selected {
		background-color: $hover;
		&:after {
			right: 100%;
			top: 25px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(136, 183, 213, 0);
			border-right-color: $hover;
			border-width: 25px;
			margin-top: -25px;
		}
	}	
}

.header {
	background-color: $header;
	padding: 20px 0;
	&.title:after {
		height: 1px;
		background-color: $hover;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}

.body {
	background-color: $body;
}